.community-section {
    position: relative;

    > :where(.picturebox:first-child, .picturebox:last-child) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        > .image {
            width: 100%;
        }
    }

    > .picturebox:last-child {
        top: unset;
        bottom: 0;
    }
}

.communitybox {
    display: flex;
    flex-direction: column;
    gap: 4em;
    padding: 11rem 0;

    /// apply .-fade animation class in this element
    > .imagebox {
        > .image {
            opacity: 0;
            transition: opacity 500ms ease-in;

            &.-fade {
                opacity: 1;
            }
        }
    }

    > .contentbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
        opacity: 0;
        transition: opacity 500ms ease-in;

        &.-fade {
            opacity: 1;
        }

        > :where(.title, .description) {
            text-align: center;
        }

        > .title {
            font-weight: bold;
        }
    }

    /// Medium devices (landscape tablets, 768px and up)
    @media only screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}